body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  /*background: url('img/danceFloor.jpg') no-repeat center center fixed;*/
  /*background-repeat: no-repeat;*/
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.batman{
  height: 80px;
  width: 80px;
  position: absolute;
}

/*.batman:hover{
  background-image: url('img/batmanScream.gif');
  width: 80px;
  height: 80px;
}*/
.sidetoside{
/*  right: 50px;
  position: relative;*/
  transform: scale(2);
}
.joker {
  /*height: 160px;*/
  width: 160px;
  position: absolute;
}
.rotate{
  transition: transform 3s;
  transform: rotate(1080deg);
} 